<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Documentos Pendientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="!docSelected">
    <ion-item *ngFor="let d of docs.docname; let i = index"  [routerLink]="" (click)="loadSign(d,i)" detail>
      <ion-icon slot = "start" name="document">
      </ion-icon>
      <ion-label>
        {{d}}
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-item *ngIf="docSelected">
    <ion-text>Firmando:  &nbsp;</ion-text>
    <ion-text> {{docSigning}} </ion-text>
  </ion-item>
  <ion-card *ngIf="docSelected">
    <div class="signature-pad">
      <signature-pad  [options]="this.signaturePadOptions" id="signatureCanvas"></signature-pad>
    </div>
  </ion-card>
  <ion-grid *ngIf="docSelected">
    <ion-row>
      <ion-col>
          <ion-button expand="block"  color="warning" (click)="this.drawClear()">Borrar</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block"  color="success" (click)="this.drawComplete()">Guardar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content> 
