<app-header titulo="Card"></app-header>

<ion-content>
    <ion-card mode="ios" color="primary">

        <ion-card-header>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          <ion-card-title>Card Title</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>

      </ion-card>

      <ion-card mode="ios">
          <ion-item color="primary">
            <ion-icon color="light" slot ="start" name="pin"></ion-icon>
            <ion-label>Marcador</ion-label>
          </ion-item>

          <ion-card-content>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam labore ab commodi itaque, ex maiores! Minus beatae incidunt maiores molestiae? Sequi mollitia nam provident, laboriosam quisquam hic expedita vel molestias?
          </ion-card-content>
          
      </ion-card>

      <ion-card>
        <ion-img src="/assets/shapes.svg">

        </ion-img>

        <!-- ion.img se diferencia de img en que img se carga al renderizar la pagina al principio 
        e ion.img se carga cuando está cerca del view point -->

        <ion-card-content>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam labore ab commodi itaque, ex maiores! Minus beatae incidunt maiores molestiae? Sequi mollitia nam provident, laboriosam quisquam hic expedita vel molestias?
          </ion-card-content>

      </ion-card>

</ion-content>
